<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key = "U101" value="PHYSICS"/>
    <add key = "U102" value="EDU"/>
    <add key = "U103" value="EDU"/>
    <add key = "PHYSICS" value="3.11"/>
	<add key = "EDU" value="2.96"/>
	<add key = "U104" value="EE"/>
	<add key = "U105" value="PHYSICS"/>
	<add key = "EE" value="3.02"/>	
	<add key = "U106" value="EE"/>
	<add key = "U107" value="EDU"/>
	<add key = "U108" value="EE"/>
  </appSettings>
</configuration>